body, input {
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 13px;

    color: #fff;
}

div#wall {
    background-color: #333;
    background: url('../resources/lights.jpg');
}

div.bar {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255,255,255,0.625);
}

body.fullscreen div.bar {
    background-color: #000;
}

div.bar nav a.active {
    background-color: rgba(255, 255, 255, 0.25);
    color: #fff;
}

div.bar nav a:hover {
    color: #acf;
}

div.bar input {
    color: #fff;
}

table#applicationGrid td {
    background-color: #000;
}

table#applicationGrid td:hover {
    background-color: #fff;
    color: #000;
}

div#wallSearch {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 20px;
}

div#wallSearch #searchBox {
       font-size: 24pt;
}
