* {
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body {
    overflow: hidden;
}

div#wall {
    position: absolute;
    z-index: -1;
}

body.fullscreen div#wall {
    display: none;
}

input {
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
    background: transparent;
    -moz-user-select: text;
    -webkit-user-select: text;
}

div.bar {
    position: absolute;
    z-index: 1000;
    line-height: 22px;
    display: none;
}

div.bar.active {
    display: block;
}

div.bar nav a {
    display: block;
    float: left;
    padding-left: 11px;
    padding-right: 11px;
    overflow: hidden;
}

div.bar input {
    height: 22px;
}

div.bar input.text {
    float: left;
    border: 0;
    width: 100%;
}

div.bar input.button {
    float: left;
    width: 22px;
    opacity: 0.625;
}

div.bar input.button:hover {
    opacity: 1;
}

nav.documentList {
    display: none;
}

nav.documentList.active {
    display: block;
}

div.right {
    float: right;
}

/*
display is set to !important because there's a bug/feature in jQuery's animate()
that adds 'display: block;' to the animated element.
*/

iframe {
    border: 0;
    display: none !important;
    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-duration: 0.25s;
    -webkit-transition-timing-funtion: ease-in;
}

iframe, div.applicationOverlay {
    position: absolute;

    -moz-transform: scale(0.4);
    -webkit-transform: scale(0.4);
}

iframe.activeDocument {
    display: block !important;
    opacity: 0.625;
}

iframe.preview {
    opacity: 0.875;
}

iframe.activeDocument.activeApplication {
    opacity: 1;
}

iframe.activeDocument.activeApplication, div.applicationOverlay.activeApplication {
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
}

body.fullscreen iframe {
    -webkit-transition-property: none;
}

body.fullscreen iframe,
body.fullscreen div.applicationOverlay {
    display: none !important;
}

body.fullscreen iframe.activeDocument.activeApplication {
    display: block !important;
    -moz-transform: none;
    -webkit-transform: none;
}

div.applicationOverlay {
    left: 200px;
    top: 200px;
}

table#applicationGrid {
    position: absolute;
    z-index: 10000;
    border-spacing: 0px;
    display: none;
}

table#applicationGrid.active {
    display: block;
}

table#applicationGrid td {
    width: 48px;
    height: 48px;
    text-align: center;
    opacity: 0.625;
}

table#applicationGrid td:hover {
    opacity: 1;
}

div#clock {
    padding-right: 8px;
    opacity: 0.625;
}

div#search {
    position: absolute;
    display: none;
    left: 50px;
    top: 50px;
    width: 1000px;
    height: 400px;
    z-index: 10000;
}

div#search.active {
    display: block;
}

input#searchBox {
    width: 100%;
}
