* {
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body {
    background: url('wall.png');
    overflow: hidden;
}

body, input {
    color: #fff;
    font-family: Droid Sans;
    font-size: 13px;
}

input {
    border: 0;
    margin: 0;
    padding: 0;
    background: transparent;
    -moz-user-select: text;
    -webkit-user-select: text;
}

.bar input.text {
    float: left;
    height: 24px;
    width: 100%;
}

nav a {
    display: block;
    float: left;
    width: 180px;
    overflow: hidden;
    padding-left: 12px;
    padding-right: 12px;
}

nav#applicationList a {
    width: 80px;
}

div.bar {
    position: absolute;
    z-index: 1000;
    line-height: 24px;
}

.application {
    position: absolute;
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
}

body.fullscreen .application {
    -moz-transform: none;
    -webkit-transform: none;
}

iframe.application {
    border: 0;
}

.bar input {
    height: 24px;
}

input.squareButton {
    float: left;
    width: 24px;
    opacity: 0.5;
}

input.squareButton:hover {
    opacity: 1;
}

#applicationGrid {
    position: absolute;
    z-index: 10000;
    border-spacing: 0px;
    display: none;
}

#applicationGrid td {
    width: 64px;
    height: 64px;
    text-align: center;
    background-color: #000;
    opacity: 0.5;
}

#applicationGrid td:hover {
    opacity: 1;
}

#clock {
    float: right;
    padding-right: 8px;
    opacity: 0.5;
}
