body, input {
    font-family: 'Droid Sans'; 
    font-size: 13px;

    color: #fff;
}

div#wall {
    background-color: #123;
}

div.bar {
    background-color: rgb(0, 0, 0);
    color: rgba(255,255,255,0.625);
}

div.bar nav a.active {
    background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#222));
    color: #fff;
}

div.bar nav a:hover {
    color: #acf;
}

div.bar input {
    color: #fff;
}

table#applicationGrid td {
    background-color: #000;
}

table#applicationGrid td:hover {
    background-color: #fff;
    color: #000;
}

div#wallSearch {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 20px;
}

div#wallSearch #searchBox {
       font-size: 24pt;
}
